@import 'core';

.multiSelect {
  display: flex;
  flex-wrap: wrap;

  &Dropdown {
    height: 8px;
    overflow: initial;
    width: 16px;
  }

  &Clear {
    height: 8px;
    width: 8px;
  }

  &Error {
    margin-bottom: 4px;
  }
}

.input {
  &Label {
    &Text {
      margin-bottom: 4px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
