@import 'core';

.overlay {
  background-color: rgba(#334651, 0.4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.popup {
  background-color: $white;
  border-bottom: 10px solid $red;
  border-radius: 2px;
  left: 50%;
  min-width: 350px;
  padding: 20px;
  position: absolute;
  top: 182px;
  transform: translate(-50%, 0%);

  &Title {
    text-align: center;
    width: 100%;
  }

  &CloseBtn {
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;

    &Icon {
      color: $primary;
    }
  }

  &Body {
    padding: 25px 36px 0 36px;
    text-align: left;
  }
}

.largePopup {
  min-width: 700px;
}
