@import 'core';

.table {
  &Header {
    background-color: $white;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #CCCCCC;

    &Cell {
      padding: 19px 12px 19px 24px;

      &Content {
        align-items: center;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        outline: none;
        padding: 0;
        width: 100%;

        &Text {
          margin-right: 4px;

          @include font($m, $medium, $black);

          &Active {
            @include font($m, $medium, $red);
          }
        }

        &Square {
          display: flex;
          flex-direction: column;

          &Icon {
            color: $black;
            height: 13px;
            width: 13px;

            &Down {
              transform: rotate(180deg);
            }

            &Active {
              color: $red;
            }
          }

          &Hide {
            display: none;
          }
        }

        &Disable {
          pointer-events: none;
        }
      }

      &:hover {
        cursor: default;

        .tableHeaderCellContent {
          &Text {
            color: $orange;

            @include font($m, $medium, $orange);
          }

          &SquareIcon {
            color: $dark-grey;
          }
        }
      }
    }
  }

  &Row {
    background-color: $white;
    border: 1px solid transparent;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-start;

    &Disabled {
      pointer-events: none;
    }

    &:nth-child(odd) {
      background-color: $light-grey;
    }

    &:hover {
      border: 1px solid $dark-grey;
      outline: none;
    }

    &Expanded {
      background-color: $background !important;
      padding-left: 0;

      &Button {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
      }

      &Icon {
        color: $secondary;
        height: 8px;
        width: 8px;
      }

      &Content {
        display: flex;
        padding: 16px 0 16px 36px;

        &Column {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          margin-right: 46px;

          > div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
          }
        }

        &Header {
          display: block;

          @include font($m, $medium, $secondary);
        }

        &Span {
          display: block;
          margin-top: 12px;

          @include font($l, $normal, $primary);
        }
      }
    }
  }

  &Cell {
    align-items: center;
    display: flex;
    height: 46px;
    justify-content: flex-start;
    padding: 0 12px 0 24px;

    @include font($s, $normal, $primary);
  }

  &Empty {
    &Content {
      background: transparent;
      border-collapse: collapse;
      border-spacing: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 1;
      padding: 12px 0;

      span {
        line-height: 21px;
      }

      &Subtitle {
        display: flex;
        flex-direction: column;
      }
    }

    &Table {
      background: $background;
      padding: 12px 24px;
    }
  }
}

@keyframes AnimationName {
    0% { background-position: 24% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 24% 0%; }
}

.fillerWrapper {
  animation: AnimationName 1s ease infinite;
  background: linear-gradient(90deg, $light-grey, $border, $light-grey);
  background-size: 200% 200%;

  height: 16px;
  width: 100%;
}
