@import 'core';

:global {
  * {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    // stylelint-disable-next-line
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  #root {
    padding: 15px 30px;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
  }

  svg,
  symbol {
    [fill]:not([fill='none']):not([fill^='url(']):not([original]) {
      fill: currentColor !important;
    }

    [stroke]:not([stroke='none']):not([stroke^='url(']) {
      stroke: currentColor !important;
    }
  }
}
